html, body {
  height: 100%;
}
body {
  background: linear-gradient(180deg, rgb(240, 242, 241), rgb(251, 213, 177));
  padding:10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container{
  padding-top:10px;
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 320px;
  height: 200px;
  align-self: center;
}
.btn-warning{
  margin-right: 15px;
}

.add-to-cart{
  background: linear-gradient(45deg, #00c6fb, #005bea);
}

.navbar {
  background-color:rgb(240, 242, 241);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}
.btn-info{
  background: rgb(53, 103, 243);
}
.btn-danger{
  background:rgb(255, 28, 115)
}