body {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 320px;
  height: 200px;
  align-self: center;
}
.btn-warning{
  margin-right: 15px;
}
.container{
  margin-top: 40px;
}
.navbar{
 background: linear-gradient(45deg, #37ecba, #72afd3);
}
.container{
}
.add-to-cart{
  background: linear-gradient(45deg, #37ecba, #72afd3);
}